<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/bootstrap.css') }}"
    />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/style.css') }}"
    />
    <script src="{{ url_for('static', filename='js/bootstrap.js') }}"></script>
    {% block title %}{% endblock %}
  </head>
  <body>
    <nav class="navbar navbar-inverse">
      <div class="container-fluid">
        <div class="navbar-header">
          <button
            type="button"
            class="navbar-toggle collapsed"
            data-toggle="collapse"
            data-target="#navbar"
            aria-expanded="false"
            aria-controls="navbar"
          >
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="{{url_for('index')}}">CodeKojo</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
            <li {% block home_active %} {% endblock %}><a href="{{url_for('index')}}">Home</a></li>
          </ul>
          <ul class="nav navbar-nav navbar-right">
            <li {% block dash_active %} {% endblock %}><a href="{{ url_for('dashboard') }}">Dashboard</a></li>
          </ul>
        </div>
        <!--/.nav-collapse -->
      </div>
    </nav>
    {% block content %}{% endblock %}
    <footer class="footer">
      <div class="container">
        <p class="text-muted">&copy;2026 - Code Kojo. All Rights Reserved.</p>
      </div>
    </footer>
  </body>
</html>
